@model AuctionSite.Models.ChangePasswordViewModel
@using AuctionSite.Resources
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using System.Globalization;
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

@{
    var currentCulture = CultureInfo.CurrentUICulture;

    var changePasswordLabel = AuctionSite.Resources.SharedResources.ResourceManager.GetString("ChangePassword", currentCulture) ?? "";
    var currentPasswordLabel = AuctionSite.Resources.SharedResources.ResourceManager.GetString("OldPassword", currentCulture) ?? ""; // "CurrentPassword" yerine "OldPassword" anahtarını kullanıyoruz
    var newPasswordLabel = AuctionSite.Resources.SharedResources.ResourceManager.GetString("NewPassword", currentCulture) ?? "";
    var confirmNewPasswordLabel = AuctionSite.Resources.SharedResources.ResourceManager.GetString("ConfirmNewPassword", currentCulture) ?? "";
    var backToManageAccountLabel = AuctionSite.Resources.SharedResources.ResourceManager.GetString("BackToManageAccount", currentCulture) ?? "";

    ViewData["Title"] = changePasswordLabel;
}

<h1>@changePasswordLabel</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Account" asp-action="ChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="@currentPasswordLabel" />
                <label asp-for="OldPassword" class="form-label">@currentPasswordLabel</label>
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="@newPasswordLabel" />
                <label asp-for="NewPassword" class="form-label">@newPasswordLabel</label>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="@confirmNewPasswordLabel" />
                <label asp-for="ConfirmPassword" class="form-label">@confirmNewPasswordLabel</label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">@changePasswordLabel</button>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Account" asp-action="Manage">@backToManageAccountLabel</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
