@model AuctionSite.Models.ResetPasswordViewModel
@using AuctionSite.Resources
@using System.Globalization;
@inject Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer<SharedResources> SharedLocalizer

@{
    var currentCulture = CultureInfo.CurrentUICulture;

    var resetPasswordTitle = AuctionSite.Resources.SharedResources.ResourceManager.GetString("ResetPasswordTitle", currentCulture) ?? "";
    var resetPasswordInstructions = AuctionSite.Resources.SharedResources.ResourceManager.GetString("ResetPasswordInstructions", currentCulture) ?? "";
    var emailLabel = AuctionSite.Resources.SharedResources.ResourceManager.GetString("Email", currentCulture) ?? "";
    var passwordLabel = AuctionSite.Resources.SharedResources.ResourceManager.GetString("Password", currentCulture) ?? "";
    var confirmPasswordLabel = AuctionSite.Resources.SharedResources.ResourceManager.GetString("ConfirmPassword", currentCulture) ?? "";
    var resetPasswordButtonLabel = AuctionSite.Resources.SharedResources.ResourceManager.GetString("ResetPasswordButton", currentCulture) ?? "";

    ViewData["Title"] = resetPasswordTitle;
}

<h1>@ViewData["Title"]</h1>
<h4>@resetPasswordInstructions</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ResetPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Code" />
            <div class="form-group">
                <label asp-for="Email">@emailLabel</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">@passwordLabel</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">@confirmPasswordLabel</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">@resetPasswordButtonLabel</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
